#button-addon2{
    color: blue;
}

h1{
    text-align: center;
}
/* .form-select{
     display: flex;
    display: inline;
} */

#container-form{
    padding: 10px;
    margin: 10px;
    width: auto;
    height: auto;
    border: 3px solid;
    border-color: red;
    border-radius: 10px;
}

.input-group input{
    width: 300px;
}

.input-year-division{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.input-year-division .input-year{
    display: flex;
    width: 40%;
    flex-wrap: wrap;
}
.input-year-division .input-division{
    display: flex;
    flex-wrap: wrap;
    width: 40%;
}

.notes-form{
    display: flex;
}

.submit-group{
    margin-top: 10px;
}